#labs-lights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100vw;
    height: 100vh;
}

#labs-lights > div {
    border: 1px solid green;
    position: relative;
    width: calc(100vw / 3);
    height: calc(100vh / 2);
}

#labs-lights div .lil-gui {
    position: absolute;
    right: 0;
    top: 0;
}

#labs-lights div h2 {
    color: #b3b3b3;
    position: absolute;
    left: 25px;
}

#show-gui {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
}
