body {
    margin: 0;
    padding: 0;
    font-family: Avenir;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    color: inherit;
    background: transparent;
    line-height: normal;
    cursor: pointer;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

#hamburger-btn {
    z-index: 1;
}

nav {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav ul {
    padding-top: 50%;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav ul h2 {
    font-size: 2rem;
    color: #111;
}

nav ul li a {
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #222;
    font-weight: 600;
}

#card-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#card-header h1 {
    margin-bottom: 0;
}

.container {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
}

.container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.wrapper {
    position: relative;
    min-height: 1000vh;
}

header {
    text-align: center;
    padding: 24px 0;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
}

#progress-bar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#progress-bar {
    width: 30%;
    height: 2%;
    margin-top: 4px;
}

.actions {
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.actions button {
    color: white;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: rgba(11, 217, 206, 0.8);
}

#shader-practice-canvas {
    background-color: #333333;
}

#shader-practice2-canvas {
    background-color: #333333;
}

#starlight-earth-canvas {
    background-color: #000;
}

.time {
    position: fixed;
    top: 20px;
    left: 40px;
    color: #fff;
    font-size: 36px;
}

.time h1 {
    margin: 0;
    padding: 0;
}
